* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background: linear-gradient( #e03131, #c92a2a );
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*********************************/
/* HEADER SECTION */
/*********************************/

.header-section {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.logo {
    height: 11rem;
    width: 11rem;
}

.header-title {
    margin-top: .5rem;
    font-size: 2.4rem;
    color: #fff5f5;
    font-weight: 600;
    letter-spacing: 1.5px;
}

/*********************************/
/* BODY SECTION */
/*********************************/

.body-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttons-title {
    margin-top: 2.6rem;
    margin-bottom: 1.2rem;
    font-size: 2rem;
    color: #fff5f5;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.button-list {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.button {
    border: solid 2.5px #fff5f5;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon {
    color: #fff5f5;
    height: 2.4rem;
}

.button-text {
    color: #fff5f5;
    font-size: 2.4rem;
    letter-spacing: 1.3px;
    font-weight: 600;
}

.button:hover {
    background-color: #fff5f5;
}

.button:hover .button-text {
    color: #e03131;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/*********************************/
/* FOOTER SECTION */
/*********************************/

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 2rem;
}

.footer-text {
    color: #fff5f5;
    font-size: 1.4rem;
}